{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="wrapper">
        <button class="return" onclick="window.location.href='{% url 'account:login' %}'">Login</button>
        <button class="new" onclick="window.location.href='{% url 'account:register' %}'">New Account</button>
    </div>
</body>
</html>