{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/wrapped.css' %}">
</head>
<body>
    <div class="vector1"></div>
    <div class="vector2"></div>
    <div class="vector3"></div>
    <div class="vector4"></div>
    <div class="vector5"></div>
    <div class="wrapper">
        <h2>let's WRAP up {{ username }}'s life...</h2>
        <h3> Categories:</h3>
        {% for category in categories %}
        {% if category == "tears" %}
            <h4>You have shed {{ tears }} {{category}} today</h4>
        {% endif %}
        {% if category == "gaming" %}
            <h4>You have been {{ category }} today</h4>
        {% endif %} 
        {% if category == "partying" %}
            <h4>Woo! You have been {{ category }} hard today! ({{party}} {{ category }})</h4>
        {% endif %} 
    {% endfor %}
    </div>
</body>
</html>