{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/wrapped.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="vector1"></div>
    <div class="vector2"></div>
    <div class="vector3"></div>
    <div class="vector4"></div>
    <div class="vector5"></div>
    <div class="wrapper">
        <h2>let's WRAP up {{ username }}'s life...</h2>
        <h3> Categories:</h3>
<div>
        {% for category in categories %}
        {% if category == "tears" %}
        <h4>Let's take a look at how many <span style="font-weight: bold; color: blue; font-size: 20px;">tears</span> you've shed this year...</h4>
        <div class="crying">
            <h5>Your tear ducts have been working overtime this year with <span style="font-weight: bold; color: blue;">{{ tears }}</span> cries and you have averaged <span style="font-weight: bold; color: blue;">{{ tears_average }}</span> cries.</h5>
            <h5>You have cried an average of <span style="font-weight: bold; color: blue;">{{ tears_time_average }}</span> minutes... Yikes</h5>
            <h5>Turns out, your favorite place to cry is in <span style="font-weight: bold; color: blue;">{{ tears_pub_or_priv }}</span> since you cried in {{ tears_pub_or_priv }} <span style="font-weight: bold; color: blue;">{{ tears_pub_or_priv_num }}</span> times.</h5>
            <h5>Your number ONE reason for your tears has been <span style="font-weight: bold; color: blue;">{{ tears_reason }}</span>. You've cried because of {{ tears_reason }} <span style="font-weight: bold; color: blue;">{{ tears_reason_num }}</span> times!</h5>
            <h5>On Average, you've ranked your tears this year a <span style="font-weight: bold; color: blue;">{{ tears_rank_ave }}/5</span></h5>
            <br>
        </div>
        {% endif %}
        {% if category == "partying" %}
        <h4>Let's see how much of a <span style="font-weight: bold; color: red; font-size: 20px;">party animal</span> you are...</h4>
        <div class="crying">
            <h5>You have been out, about, and... possibly drunk for <span style="font-weight: bold; color: blue;">{{ party_hour_total }}</span> hours this year, averaging <span style="font-weight: bold; color: blue;">{{ party_hour ave }}</span>. Wow.</h5>
            <h5>Speaking of drinking, you averaged <span style="font-weight: bold; color: blue;">{{ drink_num_ave }}</span> drinks this year, drinking a total of <span style="font-weight: bold; color: blue;">{{ dirnk_num_total }}</span> drinks</h5>
            <h5>This year, your favorite place to pary is <span style="font-weight: bold; color: blue;">{{ party_location }}</span>. Maybe you should leave them a review.</h5>
            <h5>We all have our reasons, but your most common reason for going out is <span style="font-weight: bold; color: blue;">{{ pary_reason }}</span>.</h5>
        </div>
            <br>
        {% endif %} 
        {% if category == "gaming" %}
            <h4>Let's see if you need to touch that grass year. Here is your <span style="font-weight: bold; color: red; font-size: 20px;">gaming wrapped...</span></h4>
            <div class="crying">
            <h5>Your total number of gaming hours was <span style="font-weight: bold; color: blue;">{{ gaming_hours_total }}</span>. You decide if you need to touch grass or hug a tree.</h5>
            <h5>Maybe this number will make you feel better... maybe not. Your daily average of gaming hours is <span style="font-weight: bold; color: blue;">{{ gaming_hours_ave }}</span>.</h5>
            <h5>For your sake and your dignity, I hope this number is low... here are your total league hours: <span style="font-weight: bold; color: blue;">{{ total_league }}</span>.</h5>
            </div>
            <br>
        {% endif %} 
    {% endfor %}
</div>
    </div>
</body>
</html>