{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/newaccount.css' %}">
</head>
<body class="account">
    <div class="vector1"></div>
    <div class="vector2"></div>
    <div class="vector3"></div>
    <div class="vector4"></div>
    <div class="vector5"></div>
    <div class="vector5"></div>
    
    <form method="post" class="box" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        <br>
        {{ form.email.label_tag }} {{ form.email }}
        <br>
        {{ form.password1.label_tag }} {{ form.password1 }}
        <br>
        {{ form.password2.label_tag }} {{ form.password2 }}
        <br>
        {{ form.phone_number.label_tag }} {{ form.phone_number }}
        <br>
        <button type="submit">Create Account</button>
        {{ form.username.errors }}
        {{ form.email.errors }}
        {{ form.phone_number.errors }}
    </form>
    
</body>
</html>
