<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>New Account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="number">Phone Number:</label>
        <input type="number" id="number" name="number" required>
        <br>
        <br>
        <label for="category">Categories:</label>
        <br>
        <input type="checkbox" id="fitness" name="fitness" value="Fitness">
        <label for="category1">Fitness</label><br>

        <input type="checkbox" id="partying" name="partying" value="Partying">
        <label for="category2">Partying</label><br>

        <input type="checkbox" id="cooking" name="cooking" value="Cooking">
        <label for="category3">Cooking</label><br>

        <input type="checkbox" id="studying" name="studying" value="Studying">
        <label for="category1">Studying</label><br>

        <input type="checkbox" id="tears" name="tears" value="Tears">
        <label for="category1">Tears</label><br>

        <input type="checkbox" id="relationships" name="relationships" value="Relationships">
        <label for="category1">Relationships</label><br>

        <input type="checkbox" id="gaming" name="gaming" value="Gaming">
        <label for="category1">Gaming</label>
        <br>
        <br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>