<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Add your entry</h2>

        <label>
            <strong>What food did you cook today?</strong>
            <br>
            <input type="radio" name="cooking" value="rice"> rice
            <input type="radio" name="cooking" value="noodles"> noodles
            <input type="radio" name="cooking" value="chicken"> chicken
            <input type="radio" name="cooking" value="chips"> chips
        </label>
        <br>
        <label>
            <strong>How do you feel about your relationship today?</strong>
            <br>
            <input type="radio" name="relationships" value="happy"> happy
            <input type="radio" name="relationships" value="sad"> sad
            <input type="radio" name="relationships" value="mad"> mad
            <input type="radio" name="relationships" value="good"> good
        </label>
        <br>
        <label>
            <strong>How do you feel about your workout today?</strong>
            <br>
            <input type="radio" name="fitness" value="happy"> happy
            <input type="radio" name="fitness" value="sad"> sad
            <input type="radio" name="fitness" value="mid"> mid
        </label>
        <br>
        <button type="submit">Submit Entry</button>
    </form>
</body>
</html>