<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>New Account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <br>
        <label for="category">Categories:</label>
        <br>
        <input type="checkbox" id="category1" name="category1" value="Cooking">
        <label for="category1">Cooking</label><br>

        <input type="checkbox" id="category2" name="category2" value="Relationships">
        <label for="category2">Relationships</label><br>

        <input type="checkbox" id="category3" name="category3" value="Fitness">
        <label for="category3">Fitness</label>
        <br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>