{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
<body class="login">
    <div class="vector1"></div>
    <div class="vector2"></div>
    <div class="vector3"></div>
    <div class="vector4"></div>
    <div class="vector5"></div>
    <div class="box">
        <h1>My Account:</h1>
        <div>
            <h5>Username: {{ user.username }}</h5>
            <h5>Email: {{ user.email }}</h5>
            <h5>Categories: {{categories|join:", "|capfirst}}</h5>
        </div>
        <form action="{% url 'login:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logoutbutton">Log Out</button>
        </form>
        <button class="entrybutton"onclick="window.location.href='{% url 'journal' %}'">Create an Entry</button> 
        <button class="wrappedbutton"onclick="window.location.href='{% url 'wrapped_page' %}'">Life Wrapped</button>
    </div>
    <button class="entrybutton">Create an Entry</button>
    <button class="wrappedbutton">Life Wrapped</button>
    </div>
</body>
</html>